<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/head"></div>

</head>

<body>
<div id="app">

    <div id="sidebar" class="active">
        <div th:replace="fragments/menu"></div>
    </div>

    <div id="main">

        <div th:replace="fragments/header"></div>

        <div class="page-content">
            <section class="row">

                <div class="page-heading header-margin">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>Atividades</h3>
                                <p class="text-subtitle text-muted">Lista de atividades da comunidade</p>
                            </div>
                            
                        </div>
                    </div>
                    <div th:if="${mensagem}" class="col-12 col-md-6 order-md-2 order-last">
                        <div class="alert alert-dismissible fade show" th:classappend="${sucesso ? 'alert-success' : 'alert-danger'}" role="alert">
                            <p th:text="${mensagem}"></p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                    <section class="section section-margin">
                        <div >
                            <div class="btn-adicionar">
                                <a th:href="@{/atividades/incluir}" class="btn icon btn-primary icon dripicons-plus">
                                    <i data-feather="times"></i>
                                </a>
                            </div>
                        </div>
                       
                        <div class="card">
                            <div class="card-body">
                                 <!-- Seletor de Itens por Página -->
                               
                                <table class="table table-striped" id="table1" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th >Data</th>
                                       
                                        <th class="admItem">Ação</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="atividade : ${atividades}" >
                                        <td th:text="${atividade.data}">
                                       
                                        <td>
                                            <a th:href="@{/atividades/editar/{id}(id=${atividade.id})}" class="btn icon btn-primary icon dripicons-pencil"><i data-feather="edit"></i></a>
                                            <a class="btn icon btn-danger icon dripicons-trash"
                                                data-bs-toggle="modal"
                                                th:attr="data-bs-target='#deleteModal' + ${atividade.id}">
                                                <i data-feather="times"></i>
                                            </a>
                                        </td>

                                        <div th:replace="operational/atividades/deleteModal"></div>

                                    </tr>

                                    </tbody>
                                </table>
                                
                                
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
        <div class="footer-padrao">
            <div th:replace="fragments/footer"></div>
        </div>
    </div>
</div>


<div th:replace="fragments/scripts"></div>
<div th:replace="fragments/internal-scripts"></div>


</body>
</html>