<div class="modal fade" th:id="'deleteFrequenciaModal' + ${atividade.id}"
                                             tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão de Frequência</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Tem certeza que deseja excluir o registro de frequencia na atividade realizada em 
                                                            <span th:text="${#temporals.format(atividade.data, 'dd/MM/yyyy')}"></span> ?</p>
                                                        <form th:action="@{/membros/deletarFrequencia/{atividade_id}/{membro_id}(atividade_id=${atividade.id},membro_id=${membro.id})}" method="POST">
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                <button type="submit" class="btn btn-danger">Excluir</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>