<div class="sidebar-wrapper active">
  <div class="text-center" style="margin-top: 15px;">
    <a href="index.html" ><img src="/assets/images/logo_ipcg.png" width="150"  alt="Logo" srcset=""></a>
  </div>

  <div class="sidebar-menu" style="margin-top: 50px;">
    <ul class="menu" >
      <li class="sidebar-title">Menu</li>

    

      <li class="sidebar-item  has-sub ">
        <a href="#" class='sidebar-link'>
          <i class="bi bi-person"></i>
          <span>Pessoas</span>
        </a>
        <ul class="submenu ">
          <li class="submenu-item">
            <a href="/voluntarios/">Voluntários</a>
          </li>
          <li class="submenu-item">
            <a href="/membros/">Membros Locais</a>
          </li>
         
        </ul>
      </li>

      <li class="sidebar-item  has-sub">
        <a href="#" class='sidebar-link'>
          <i class="bi bi-clipboard"></i>
          <span>Atividades</span>
        </a>
        <ul class="submenu ">
          <li class="submenu-item ">
            <a href="/atividades/">Atividades realizadas</a>
          </li>
          <li class="submenu-item admItem" >
            <a href="/frequencias/">Frequencia</a>
          </li>
          <li class="submenu-item ">
            <a href="/sorteios/">Sorteios</a>
          </li>
        </ul>
      </li>
<!--      <li class="sidebar-item" style="margin-top: 480px;">-->
<!--        <a href="/login/logout" class='sidebar-link'>-->
<!--          <i class="bi bi-box-arrow-right"></i>-->
<!--          <span>Sair</span>-->
<!--        </a>-->
<!--      </li>-->
     
    </ul>
  </div>
</div>